@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
}

:root 
{
    --primarycolor: #272727;
    --secondarycolor: #2400FF;
}

.bg-pri-color{
    background-color: var(--primarycolor);
}
.bg-sec-color{
    background-color: var(--secondarycolor);
}
.text-color{
    color: var(--secondarycolor);
}
.b-active{
    text-decoration: none;
    color: #fff;
    background: #000000;
    padding: 20px 30px;
    border-radius: 30px;
    transition: ease 0.3s;
}
.b-active:hover{
    background-color: #fff;
    color: var(--secondarycolor);
    transition: ease 0.3s;
}
.w-active{
    text-decoration: none;
    color: var(--secondarycolor);
    background: #fff;
    padding: 20px 30px;
    border-radius: 30px;
    transition: ease 0.3s;
}
.w-active:hover{
    background-color: #000;
    color: #fff;
    transition: ease 0.3s;    
}
h1{
  font-size: clamp(40px, 4vw, 80px);
}
/* header css starts */
header{
  position: absolute;
  width: 100%;
}
.pb-85{
  padding-top: 85px;
}
.navbar-nav{
    display: flex;
    width: 60%;
    justify-content: space-between;
}
.navbar-nav .navlink{
    color: #fff;
    text-decoration: none;
    transition: ease 0.3s;
}
.navbar-nav .navlink:hover{
    color: var(--secondarycolor);
    transition: ease 0.3s;
}
@media (max-width:991px){
    .navbar-nav li{
        padding: 12px 0;
    }
}
.navbar-nav .navlink.nav-active {
  color: var(--secondarycolor); 
}
/* header css ends */
/* home page css starts */
@media (min-width:992px) {
    .home-top-banner{
        height: 75vh;
    }

    .home-1 {
      width: 350px;
      height: 250px;
    object-fit: cover;
    position: absolute;
    rotate: 340deg;
    top: 15%;
}
.home-2{
  width: 350px;
  height: 250px;
    object-fit: cover;
    position: absolute;
    bottom: 0;
    rotate: 30deg;
    left: 40px;
}
.home-3{
  width: 350px;
  height: 250px;
    object-fit: cover;
    position: absolute;
    right: 0;
    top: 15%;
    rotate: 352deg;
}
.home-4{
  width: 350px;
  height: 250px;
    object-fit: cover;
    position: absolute;
    right: 0;
    bottom: 0;
    rotate: 10deg;
}
    
 }
 @media (max-width:991px) {
  .navbar{
    background-color: var(--primarycolor);
  }
  .navbar-collapse{
    background: var(--primarycolor);
    width: 100%;
    left: 0;
    position: absolute;
    z-index: 1;
    top: 75px;
  }
  .navbar-nav li{
    padding-left: 15px;
  }
    .home-1, .home-3{
        width: 100%;
        height: 250px;
        object-fit: cover;
 }    
 .home-2, .home-4{
    display: none;
 }
 }
 .half-bg {
  background: linear-gradient(180deg, var(--primarycolor) 46%, var(--secondarycolor) 30%);
}
 .process-card img{
    width: 80px;
    height: 80px;
    background: #ffffff;
    padding: 15px;
    border-radius: 18px;
  }

  .feature-card{
    background-color: #fff;
    border-radius: 18px;
    transition: ease 0.3s;
  }
  .feature-card img{
    aspect-ratio: 5 / 3;
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 18px;
  }
  .feature-card h4, .feature-card a{
    color: var(--secondarycolor);
  }
  .feature-card:hover {
    background-color: var(--secondarycolor);
    transition: ease 0.3s;
  }
  .feature-card:hover h4, .feature-card:hover a, .feature-card:hover p{
    color: #fff;
    transition: ease 0.3s;
  }
  .half-vertical-bg{
    background: linear-gradient(90deg, var(--primarycolor) 30%, var(--secondarycolor) 30%);
  }
  #counter{
    list-style: none;
    text-align: center;
  }
  #counter span{
    font-size: 40px;
    font-weight: 600;
  }
  .company-carousel{
    opacity: 0.6;
  }
  .company-carousel .owl-item img {
    display: block;
    margin: auto;
    width: fit-content !important;
}
.owl-carousel .owl-nav {
    display: none !important;
  }
  
.customPreviousBtn{
    position: absolute;
    top: 50px;
    font-size: 20px;
    cursor: pointer;
    z-index: 99;
  }
  .customNextBtn{
    position: absolute;
    top: 50px;
    right: 13px;
    font-size: 20px;
    cursor: pointer;
    z-index: 99;
  }
  .customNextBtn:hover, .customPreviousBtn:hover{
    color: var(--secondarycolor);
  }
  
/* accordion style */

ul.accordion-list {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  padding: 0px;
  margin: 0;
  list-style: none;
}

ul.accordion-list li {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  padding: 30px;
  margin: 0 auto 15px auto;
  cursor: pointer;
}

ul.accordion-list li.active {
  background-color: var(--secondarycolor);
  border-radius: 18px;
  color: #fff;
}

ul.accordion-list li.active h3:after {
  content: "\f00d";
  color: #555555;
    font-size: 20px;
    background: #fff;
}

ul.accordion-list li h3 {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
  cursor: pointer;
  font-size: 22px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
}

ul.accordion-list li h3:after {
  content: "\2b";
  font-family: "FontAwesome";
  position: absolute;
  right: 0;
  top: 0;
  transition: all 0.3s ease-in-out;
  font-size: 20px;
  background: #e2e2e2;
  padding: 7px 9px;
  border-radius: 50px;
}

ul.accordion-list li div.answer {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  cursor: pointer;
  padding: 15px 0px;
}

ul.accordion-list li div.answer p {
  position: relative;
  display: block;
  font-weight: 300;
  padding: 10px 0 0 0;
  cursor: pointer;
  line-height: 150%;
  margin: 0 0 15px 0;
  font-size: 14px;
}
.connect-banner{
  background-image: url('../images/home/banner.png');
  height: 50vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.connect-banner::before{
  content: '';
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(82.14deg, #1d1d1de0 28.24%, rgba(141, 141, 141, 0.505) 81.93%, rgba(255, 255, 255, 0) 100%);
}
.contact-form input, textarea{
  border: none;
  padding: 10px 20px;
  border-radius: 18px;
}
/* home page css ends */

/* about us page css starts */
.half-about-bg{
    background: linear-gradient(180deg, var(--primarycolor) 60%, var(--secondarycolor) 60%);

}
.our-story{
    background-image: url('../images/about/our-story.png');
    height: 90vh;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}
.overlay:before{
    content: '';
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /* background-image: linear-gradient(270deg, #040404e6 15%, rgb(226 230 230 / 0%) 61.2%); */
    background-image: linear-gradient(287.13deg, #000000 18.85%, rgba(0, 0, 0, 0) 87.75%);

  }
  /* about us page css ends */

  /* services pages css starts */
  .services-top-banner{
    background-image: url('../images/services/top-banner.png');
    height: 70vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .process-service-card img{
    width: 50px;
    height: 50px;    
    filter: brightness(0) invert(1);
  }
  .process-service-card div:first-child
  {
    background: #000;
    width: fit-content;
    padding: 10px;
    border-radius: 18px;
  }
  /* services pages css ends */

.contact-top-banner{
  background-image: url('../images/contact-banner.png');
    height: 70vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;  
}
.contact-top-banner::before, .our-team-top-banner::before{
  content: '';
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(359.61deg, #272727 8.24%, rgba(39, 39, 39, 0) 99.58%);
}
/* our team page css starts */
.our-team-top-banner{
    background-image: url('../images/team/top-banner.png');
    height: 70vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;    
}
@media (min-width:768px){
  .team-card
{
    position: absolute;
    top: 30%;
    right: 0;
}
}
        
.team-members {
	position: relative;
	z-index: 1;
	display: flex;
	flex-wrap: wrap;
}

.card-container {
	position: relative;
	/* width: 100%; */
	height: 40vh;
	border-radius: 18px;
	display: flex;
	justify-content: center;
	align-items: center;
}

        
/* .container .card-container .content {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	transition: 0.5s;
} */

/* .container .card-container:hover .content {
	transform: translateY(-20px);
} */

.card-container .content .imgBx {
	position: relative;
	overflow: hidden;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 18px;
}

.card-container .content .imgBx img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.card-container .content .contentBx h3 {
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 500;
	font-size: 18px;
	text-align: center;
	margin: 20px 0 10px;
	line-height: 1.1em;
}

.card-container .content .contentBx h3 span {
	font-size: 12px;
	font-weight: 300;
	text-transform: initial;
}

.card-container .sci {
	position: absolute;
	display: flex;    
	transition: 0.5s;
    bottom: 0;
    border-radius: 18px;
}   

.card-container .sci .team-details {
	list-style: none;
	margin: 0 10px;
	transform: translateY(40px);
	transition: 0.5s;
	opacity: 0;
}

.card-container:hover .sci .team-details {
	transform: translateY(0px);
	opacity: 1;
}
.card-container:hover .sci{
    display: block;
    content: '';
    bottom: 0;
	transition: 0.5s;
    left: 0;
    right: 0;
    border-radius: 18px;
    background: linear-gradient(359.83deg, #000000 -32.75%, rgba(0, 0, 0, 0) 99.81%);
}
/* our team page css starts */

  /* footer css starts */
  footer ul{
    list-style: none;
  }
  footer h5{
    font-weight: 700;
  }
  footer ul li{
    padding: 5px 0;
  }
  footer ul li a{
    text-decoration: none;
    color: #fff;
    font-weight: 300;
  }
  .footer-sc-icons a{
    color: var(--primarycolor);
    background-color: #fff;
    border-radius: 10px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
  }
  
